/*style.css*/

.title{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: x-large;
	text-align: center;
}

a:any-link {
	color: #801a00;
	font-size: large;
}

a:hover{
	color: #b32400;
	font-size: x-large;
}

a:active{
	color: #ff3300;
	font-size: x-large;
}
