/*style.css*/

body {
	background: linear-gradient(-45deg, #e7d2cc, #b9b7bd, #868b8e, #eeede7);
	background-size: 400% 400%;
	animation: gradient 150s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

a:any-link {
	color: #801a00;
	font-size: large;
	text-decoration: none;
}

a:hover{
	color: #b32400;
	font-size: x-large;
}

a:active{
	color: #ff3300;
	font-size: x-large;
}
